.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.class {
    display: block;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 1.92em;
    margin-top: 1.92em;
    text-align: center
    }
.class1 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center
    }
.class2 {
    display: block;
    margin-top: 16em;
    text-align: center
    }
.class3 {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-top: 3.6923em;
    text-align: center
    }
.class4 {
    display: block;
    text-align: center
    }
.class5 {
    font-size: 0.83333em
    }
.class6 {
    display: block;
    margin-top: 0.32em;
    text-align: center
    }
.class7 {
    font-size: 0.77419em
    }
.class8 {
    display: block;
    font-family: "Times New Roman", serif
    }
.class9 {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%
    }
.class10 {
    font-family: "Times New Roman", serif;
    height: auto;
    width: 50%
    }
.class11 {
    display: block;
    font-family: "Times New Roman", serif;
    text-indent: 1em
    }
.class12 {
    font-family: "Times New Roman", serif;
    height: auto;
    width: 60%
    }
.class13 {
    font-family: "Times New Roman", serif;
    height: auto;
    width: 40%
    }
.class14 {
    font-style: italic
    }
.class15 {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center
    }
.class16 {
    font-family: "Times New Roman", serif;
    height: 60%;
    width: auto
    }
.class17 {
    font-family: "Times New Roman", serif;
    height: 50%;
    width: auto
    }
.class18 {
    font-family: "Times New Roman", serif;
    height: 90%;
    width: auto
    }
.class19 {
    font-family: "Times New Roman", serif;
    height: 70%;
    width: auto
    }
.class20 {
    display: block;
    margin-top: 1em;
    width: 100%
    }
.class21 {
    display: block;
    margin-top: 1em;
    text-align: center
    }
.class22 {
    display: block;
    font-family: "Times New Roman", serif;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center
    }
.class23 {
    display: block;
    font-family: "Times New Roman", serif;
    font-style: italic
    }
.class24 {
    display: block;
    font-family: "Times New Roman", serif;
    font-style: italic;
    text-indent: 1em
    }
.class25 {
    font-family: "Times New Roman", serif;
    height: auto;
    width: 80%
    }
.class26 {
    -webkit-hyphens: none;
    display: block;
    margin-bottom: 1.6em;
    margin-top: 4.8em;
    text-align: center
    }
.class27 {
    display: block;
    margin-top: 2em;
    text-align: center
    }
.class28 {
    font-family: "Times New Roman", serif;
    font-size: 0.83333em;
    height: auto;
    width: 6.445%
    }
.class29 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.83333em;
    margin-top: 1em;
    text-align: center
    }
.class30 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.83333em;
    text-align: center
    }
.class31 {
    font-weight: 800
    }
